.navbar-container {
	background-color: #53346d;
	display: flex;
	justify-content: flex-start; 
	align-items: center;
	padding: 5px 20px;
	position: relative;
	height: 60px;
}

.hamburger-icon {
	color: white;
	font-size: 28px;
	cursor: pointer;
	position: relative;
	top: auto;
	left: 10px;
	transition: transform 0.3s ease;
}

.hamburger-icon:hover {
	transform: rotate(90deg);
}

.sidenav-container {
	position: fixed;
	top: 60px;
	left: 0;
	background-color: #53346d;
	height: 100vh;
	width: 250px;
	transform: translateX(-100%);
	transition: transform 0.4s ease;
	display: flex;
	flex-direction: column;
	padding: 20px;
	box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidenav-container.open {
	transform: translateX(0);
}

.sidenav-container.closed {
	transform: translateX(-100%);
}

.nav-link {
	text-decoration: none;
	color: white;
	font-size: 18px;
	display: flex;
	align-items: center;
	padding: 15px 10px;
	margin-bottom: 10px;
	border-radius: 8px;
	transition: background-color 0.3s ease;
}

.nav-link:hover {
	background-color: #7a4aa5;
}

.icon {
	margin-right: 10px;
	font-size: 24px;
}

@media (max-width: 768px) {
	.sidenav-container {
		width: 200px;
	}

	.nav-link {
		font-size: 16px;
	}
}
