body 
 { 
   background-image: url("abb.jpg");
   background-size: cover;
   opacity:90%;
   /* display:flex;
  justify-content: center; */
 }
 form 
 { 
   
   align-items: center;
 border:2px solid ; 
 text-align: justify; 
 margin:50px; 
 height:400px; 
 width:500px; 
 padding:35px; 
 background-color:beige; 
 } 
 form input{ 
 background-color:burlywood; 
 } 
 h1 
 {  
 font-style: oblique;
 font-weight:1000;
 text-align:center; 
 color:black; 
 height:20px;
 /* border-color: black; 
 border-radius: 20px; */
 } 
 button 
 { 
 background-color:cornsilk; 
 font-weight:1000;
 font-style: italic;
 } 
 button:hover 
 { 
 background-color:azure; 
 } 
 button:active 
 { 
 background-color:antiquewhite; 
 } 
 label 
 { 
 font-weight:bolder; 
 } 
 select
 { 
 font-weight:bolder; 
 } 
 table
 {
    margin-top: 50px;
    text-align: center;
    background-color: floralwhite;
    border-color: black;
 }

 th{
    width: 100px;
    height:50px;
 }

 select
 {
    width: 170px;
    height:20px;
    background-color:burlywood; 
 }