*
{
    color:skyblue;
}
p span{
    color:aqua;
}
.veg
{
    color:fuchsia;
}
.nonveg
{
    color:lavender;
}

#red
{
    color:red;
}
#golden
{
    color:gold;
}
#cyan
{
    color:cyan;
}
#brown
{
    color:brown;
}
#navy
{
    color:navy;
}
.last
{
    color:azure;
}
#last
{
    color:navajowhite;
}
.last
{
    color:crimson;
}
#last
{
    color:navajowhite;
}