/* li ul
{
    display:none;
} */
/* li k andr ul show nhi hoga */
/* li ol
{
    display:none;
} */
/* li:hover>ul
{
    display:block;
}
/* isse li k andr ul jo h vo show hoga on placing the cursor on the element */
/* li:hover>ol
{
    display:block;
} */ 
li li
{
    display:none;
}
li:hover>*>li
{
    display:block;
}
/* isse chahe ul ho chahe ol sb hover hojayenge sth mein */
input[type="radio"]:checked+label
{
    font-size:25px;
    color:aqua;
}