
/* @import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Just+Another+Hand&family=Sigmar&display=swap'); */
/* p
{
    background-color: aqua;
    width:600px;
    z-index: 1;
    height:70px;
}
.fontpara
{
    background-color: chartreuse;
    height:80px;
    position:relative;
    top:-30px;
    z-index: -1;
} */
/* p
{
    font-family: myfont;
}

@font-face {
    font-family: myfont;
    src: url(./Bruno_Ace_SC/BrunoAceSC-Regular.ttf);
} */
/* isse khudka font lga skte hain jo downloaded ho apke pas */
/* .imgcontainer
{
    height:600px;
    width:600px;
    border:2px solid;
    background-image: url(./radhakrishn.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.imgcontainer
{
    all:revert;
} */
/* for reverting all the changes made so far */
.container
{
    height:600px;
    width:600px;
    border:2px solid;

}
img
{
    height:150px;
    width:150px;
    float:right;
}
/* float mein khali space se image content k pas aajaye */
.img2
{
    float:left;
    height:250px;
}
.p3
{
    clear:both;
}
/* clear or float mein same direction specify honi chahiye */